#SLICING

In [ ]:
s='Shreyas studies at MASAI and dream of IIT Guwahati'
print(s[0:7])

Shreyas

In [ ]:
# extract the word MASAI
s='NSDC and MASAI are skill partners'
print(s[9:14])

MASAI

In [ ]:
# print the third word using indexing
lst=['Shreyas','MASAI','IIT Guwahati','NSDC']
print(lst[2])

IIT Guwahati

In [ ]:
print(lst[-2])

IIT Guwahati

In [ ]:
# print last element usind negative indexing
tup=('NSDC','Shreyas','MASAI','IIT Guwahati')
print(tup[-1])

IIT Guwahati

In [ ]:
# from the dictionary print the value asociated with name
d={'name':'Shreyas','institute':'MASAI'}
print(d['name'])

Shreyas

In [ ]:
# print characters from 4 to 13 using slicing
s='IIT Guwahati and NSDC work together'
print(s[4:13])

Guwahati

In [ ]:
#check if x grater than y and print result
x=10
y=5
if x>y:
    print(True)
else:
    print(False)

True

In [ ]:
# PRINT the result of a==b and a==c
a=1
b=True
c=False
print(a==b)
print(a==c)

True
False

In [ ]:
# create a set with some elements and print it
set = {'Shreyas','MASAI','NSDC'}
print(set)

{'NSDC', 'MASAI', 'Shreyas'}

In [ ]:
# check if both variables contain letter'S' and print the result
name='Shreyas'
org='NSDC'
if 'S' in name and 'S' in org:
    print("both variables contain the letter 'S'")
else:
    print("not both variables contain the letter's'")

both variables contain the letter 'S'

In [ ]:
# print the type of variable s
s= 'MASAI School'
type(s)

str

In [ ]:
# convert a string into the list of character and print it
s='Shreyas'
lst=list(s)
print(lst)

['S', 'h', 'r', 'e', 'y', 'a', 's']

In [ ]:
# add a word to the list & print the updated list
lst=['MASAI','NSDC']
lst.append('Shreyas')
print(lst)

['MASAI', 'NSDC', 'Shreyas']